<p>
  <strong>Title:</strong>
  <%= @books.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @books.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @books.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @books.year %>
</p>